<div class="fields">
  <%= f.text_field :title, placeholder: "Title" %>
  <br />
  <%= f.text_area :description, placeholder: "Description" %>
  <br />
  <%= link_to_remove_fields "remove", f %>
  <br />
</div>
