<div class="fields">
  <div class="input">
  <%= f.text_field :title, placeholder: "Title" %>
  <%= f.text_area :description, placeholder: "Description", rows: 3 %>
  </div>
  <div class="remove">
    <%= link_to_remove_fields "remove", f %>
  </div>
</div>
