<sidebar>
  <h2>
    Explore
  </h2>
  <ul>
    <li><%= active_link_to 'Recent Courses', lists_path, active: 'border-left' %></li>
    <li><%= active_link_to 'Most Saved', popular_path, active: 'border-left' %></li>
  </ul>
</sidebar>
