<div class="landing">
  <div class="hero">
    <h1>
      Find and share the best ways to learn anything.
    </h1>
    <%= link_to "Sign up", signup_path, class: "button" %>
  </div>
  <h2>Featured Paths</h2>
  <ul class="featured-lists">
    <%= render @lists %>
  </ul>
  <div class="center">
    <%= link_to "Explore Paths", recent_path, class: "button" %>
  </div>
</div>
