<div class="landing">
  <div class="hero text-center">
    <h1>
      Organize, track and share your learning resources.
    </h1>
    <ol style="">
      <li>Create a path. It can be a large topic like "Learn Spanish" or a smaller one like "HTTP basics."</li>
      <li>Add links and to-dos to your path as you discover new resources.</li>
      <li>Track your progress and share your path with others.</li>
    </ol>
    <%= link_to "Sign up", signup_path, class: "btn" %>
  </div>
  <% if false %>
  <h2>Featured Paths</h2>
  <ul class="featured-lists">
    <%= render @lists %>
  </ul>
  <div class="center">
    <%= link_to "Explore Paths", recent_path, class: "button" %>
  </div>
  <% end %>
</div>
