<% provide(:title, @user.username) %>
<% unless @user == current_user %>
  <h1>
    <%= @label %> by <%= @user.username %>
  </h1>
<% end %>
<ul>
  <% if @lists.count > 0 %>
    <%= render(partial: 'lists/list_summary', collection: @lists, as: :list) %>
  <% elsif @user == current_user %>
    Nothing here yet. <%= link_to "Find some new paths to begin.", recent_path %>
  <% else %>
    Nothing here yet. 
  <% end %>
</ul>
