/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require primer
 * require_self
 * require_tree .
 */

body {
/*  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.masthead-nav {
  float: none;
}

.masthead-nav a {
  color: #4078c0;
}

.progress-bar-container {
  height: 1em;
  width: 100%;
}

.progress-bar {
  height: 1em;
}

.progress-stat {
  text-transform: uppercase;
  font-size: small;
}

.landing li {
  padding: .5em;
  text-align: center;
  font-size: 1.2em;
  list-style-position: inside;
}
