<nav class="menu">
  <span class="menu-heading">
    Explore Paths
  </span>
  <%= active_link_to 'Recent', recent_path, class: 'menu-item', active: 'selected' %>
  <%= active_link_to 'Most Saved', popular_path, class: 'menu-item', active: 'selected' %>
</nav>
